/twitter-streaming/.nb-gradle/
/Lucene42/build/
/TwiteroFRONTv2/nbproject/private/
/sentiment-analysis-weka-master/.nb-gradle/
/QVTwittero/src/main/java/Lucene42/build/
/QVTwittero/src/main/java/Lucene42/nbproject/private/
/QVTwittero/.gradle/2.13/
/QVTwittero/.nb-gradle/
/TwiteroFRONTv2/node_modules