<div class="banner">
	
	      				<div class="container" ng-model="">
	       									<br>
	       									<br>
	       									<br>
	       	                                    <h1>Bienvenido!<br>
	       	                                    Ahora selecciona una opción para comenzar</h1>
	       	                                <div class="shadow"><img src="img/shadow.png" alt=""></div>
	       	                                
	       	                                  <div class="span12"> </div>
	       	
	       	
	       										 <div class="span3"></div>
	       										  <div class="span2">
	       										  <a href="#/benjamin/agregar" role="button" class="btn">Agregar Programa</a>
	       										    </div>
	       										    <div class="span2">
	       										  <a href="#/benjamin/modificar" role="button" class="btn" >Modificar Programa</a>
	       										    </div>
	       										    <div class="span2">
	       										  <a href="#myModal" role="button" class="btn" >Eliminar Programa</a>
	       										    </div>
	       										     <div class="span3"></div>
	       										     <div class="span12"> </div>
	       										      <div class="span3"></div>
	       										    <div class="span2">
	       										  <a href="localhost:8080/QVTwittero/tweets/store" role="button" class="btn" >Mongo</a>
	       										    </div>
	       										    <div class="span2">
	       										  <a href="localhost:8080/QVTwittero/tweets/update" role="button" class="btn" >Update Lucene</a>
	       										    </div>
	       										    <div class="span2">
	       										  <a href="http://localhost:8080/QVTwittero/programas/mencionesupdate" role="button" class="btn" >Update Menciones</a>
	       										    </div>
	       										     <div class="span3"></div>
	       	                                </div>
	       	                                <img src="img/tv.png" alt=""> <!--cada imagen se pone en esta sección-->
	       	                                
	       	
	       	                      	
	       	            </div>
</div>