
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

            <div class="featured-heading">
                    <div class="container">
                        <ul class="grid effect-8" id="grid">
                            <br>
                            <li><h1>Histórico del programa</h1>
                        </li>
                        </ul>
                        
                        <div class="h-divider">
                            <div class="icon1"><i class="fw-icon-star"></i></div>
                        </div>
                        <div class="row-fluid" >
                            <ul class="grid effect-3" id="grid">
                                <li class="span6">
                                    <div class="block" ng-model="">
                                     <h1>Nombre : </h1> <p> {{programa.nombre}}</p>
                                     <h1>Canal : </h1> <p> {{programa.canalId}} </p>
                                     <h1>Descripción : </h1> <p> {{programa.descripcion}}</p>
                                         
                                    </div>
                                    
                                </li>
                               <li class="span6">
                                    <div class="block">
                                        <d3-programa>
                                                <div id="chart"></div>
                                        </d3-programa>
                                        <!-- <img src="img/graficoprogramas.jpg" alt=""> Aqui se insertaría el gráfico correspondiente al ranking todos los programas-->

                                    </div>
                                 </li>
                                
                            </ul>
                            
                        </div>
                    </div>
            </div>




        
       <script src="js/jquery-1.9.1.js"></script> 
<script src="js/bootstrap.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/AnimOnScroll.js"></script>
    
    <script>
      new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
      } );
    </script>
<script>
$('#myCarousel').carousel({
    interval: 1800
});
</script>

    </body>

       

    </body>
</html>
    

